*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}

body {
  height: 100vh;
  padding-right: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 
    'aside content'
  ;
  background-color: #00CB8B;
}


aside {
  grid-area: aside;
  border-right: 1px solid grey;
  background-color: var(--clr-light);
}
.aside__header {
  height: 5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.374);
  background-image: url(../images/logo-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 49%;
}
.aside__nav {
  display: flex;
  flex-direction: column;
}
.aside__nav-links {
  height: 3rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  color: black;
  font-weight: 700;
  /* background-color: antiquewhite; */
}
.aside__nav-links:hover {
  background-color: rgba(234, 223, 223, 0.7);
}
.aside__nav-links > img {
  width: 1.5rem;
  margin-right: 1rem;
}


main {
  grid-area: content;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.content__header {
  height: 5rem;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: var(--clr-light);
}
.content__header-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__table {
  height: calc(100vh - 5rem - 1rem - 1rem);
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--clr-light);
}
.content__table > div:nth-child(2) {
  overflow-y: auto;
}
.content__table div p {
  display: flex;
  margin-left: 1rem;
  align-items: center;
}
.content__table-data-wrapper {height: 100%;}
.gender {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}
.actions-div {
  height: 100%;
  padding: .5rem 0 .5rem 1rem;
  display: flex;
  gap: .5rem;
}
.actions-div button:hover .icon {
  color: black;
  filter: invert(0) brightness(0) saturate(100%);
}

/* Student Edit Form */
/* Student Edit Form */
/* Student Edit Form */
.crud-form-header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #29414F;
}
.crud-student {
  justify-self: center;
  align-self: center;
  width: clamp(500px, 50%, 800px);
  padding: calc(0.5rem + 3rem) 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  border-radius: 0.25rem;
  background-color: aliceblue;
  z-index: 10;
}
.crud-student__block {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.crud-form-container {
  width: 90%;
  margin-block: 1rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
}
.crud-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.crud-form-inputs {
  width: 100%;
  margin-top: 0.875rem;
  display: flex;
  flex-direction: column;
}