:root {
  --clr-light: white;
}

/* Modal Styles */
/* Modal Styles */
/* Modal Styles */

.modal {
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__actions {
  display: flex;
  justify-content: space-between;
}

/* Alert Styles */
/* Alert Styles */
/* Alert Styles */
.alert-container {
  right: 1rem;
  top: 1rem;
  overflow: hidden; /* Hide anything that overflows during animation */
}
.alert {
  margin-bottom: 15px;
  padding: 20px;
  color: white;
  box-shadow:
    3.1px 3px 3.6px rgba(0, 0, 0, 0.098),
    8.6px 8.3px 10px rgba(0, 0, 0, 0.14),
    20.8px 19.9px 24.1px rgba(0, 0, 0, 0.182),
    69px 66px 80px rgba(0, 0, 0, 0.28)
  ;
  opacity: 1;
  background-color: var(--background-color);
  transition: opacity 0.6s;

  /* Starting position for animation */
  transform: translateX(100%); 
  animation: slideIn 0.6s ease-out forwards;
}
.alert-danger {--background-color: #f44336;}
.alert-success {--background-color: #04AA6D;}
.alert-info {--background-color: #2196F3;}
.alert-warning {--background-color: #ff9800;}

/* The close button */
.closebtn {
  cursor: pointer;
  margin-left: 15px;
  transform: translateY(-3px);
  color: white;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  float: right;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
/* Keyframe animation to slide the alert from right to its place */
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


/* Table Data Styles */
/* Table Data Styles */
/* Table Data Styles */
/* students */
.content__table-header-students {
  padding-block: 0.5rem;
  padding-right: 1.1rem;
  display: grid;
  grid-template-columns: 0.25fr 2fr 2fr 2fr 1fr 2fr 1fr 2fr;
  border-bottom: 1px solid #29414F;
  background-color: #A8B2B8;
}
.content__table-data-students {
  display: grid;
  grid-template-columns: 0.25fr 2fr 2fr 2fr 1fr 2fr 1fr 2fr;
  border-bottom: 1px solid #29414F;
}
/* courses */
.content__table-header-courses {
  padding-block: 1rem;
  padding-right: 1.1rem;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr;
  background-color: #A8B2B8;
}
.content__table-data-courses {
  height: 2rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr;
}
/* college */
.content__table-header-colleges {
  padding-block: 1rem;
  padding-right: 1.1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: #A8B2B8;
}
.content__table-data-colleges {
  height: 2rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

/* Button Specific Styles */
/* Button Specific Styles */
/* Button Specific Styles */
button.add,
button.edit,
button.delete {
  position: relative;
  height: 2.2744rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  border: 1px solid white;
}
button.add {background-color: rgb(0, 154, 0);}
button.add:hover {
  color: rgb(0, 154, 0);
  background-color: white;
  border: 1px solid grey;
}
button.edit {background-color: rgb(77, 77, 255);}
button.edit:hover {
  color: rgb(77, 77, 255);
  background-color: white;
  border: 1px solid grey;
}
button.delete {background-color: rgb(255, 27, 27);}
button.delete:hover {
  color: rgb(255, 27, 27);
  background-color: white;
  border: 1px solid grey;
}
button.search {
  color: black;
  border: 1px solid grey;
  background-color: white;
}
button.disabled {
  color: black;
  background-color: #b1b1b1;
}

/* Style Centric Utils */
/* Style Centric Utils */
/* Style Centric Utils */
.relative {position: relative;}
.absolute {position: absolute;}

button,
input,
select {
  height: 45px;
  padding: 0.625em;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #b8bdc9;
}

button,
input#clickAll,
input#search,
input.checkbox,
select {
  cursor: pointer;
}

input#search {
  cursor: text;
}

label {
  margin-top: 0.5rem;
  color: #57647e;
  font-size: 0.75rem;
}

.form__actions {
  width: 300px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

/* Tooltip Styles */
/* Tooltip Styles */
/* Tooltip Styles */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltiptext::after {
  content: '';
  position: absolute;
  transform: rotateZ(45deg);
  bottom: -5px;
  left: 50%;
  margin-left: -6px;
  border: 5px solid black;

}
button[name="confirmEdit"]:hover .tooltiptext {
  visibility: visible;
}