:root {
  --clr-light: white;
}


/* Data Styles */
/* Data Styles */
/* Data Styles */
/* students */
.content__table-header-students {
  padding-block: 0.5rem;
  padding-right: 1.1rem;
  display: grid;
  grid-template-columns: 0.25fr 2fr 2fr 2fr 1fr 2fr 1fr 2fr;
  border-bottom: 1px solid #29414F;
  background-color: #A8B2B8;
}
.content__table-data-students {
  display: grid;
  grid-template-columns: 0.25fr 2fr 2fr 2fr 1fr 2fr 1fr 2fr;
  border-bottom: 1px solid #29414F;
}
/* courses */
.content__table-header-courses {
  padding-block: 1rem;
  padding-right: 1.1rem;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr;
  background-color: #A8B2B8;
}
.content__table-data-courses {
  height: 2rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr;
}
/* college */
.content__table-header-colleges {
  padding-block: 1rem;
  padding-right: 1.1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: #A8B2B8;
}
.content__table-data-colleges {
  height: 2rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

/* Button Specific Styles */
/* Button Specific Styles */
/* Button Specific Styles */
button.add,
button.edit,
button.delete {
  height: 2.2744rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  border: 1px solid white;
}
button.add {background-color: rgb(0, 154, 0);}
button.add:hover {
  color: rgb(0, 154, 0);
  background-color: white;
  border: 1px solid grey;
}
button.edit {background-color: rgb(77, 77, 255);}
button.edit:hover {
  color: rgb(77, 77, 255);
  background-color: white;
  border: 1px solid grey;
}
button.delete {background-color: rgb(255, 27, 27);}
button.delete:hover {
  color: rgb(255, 27, 27);
  background-color: white;
  border: 1px solid grey;
}
button.search {
  color: black;
  border: 1px solid grey;
  background-color: white;
}
button.disabled {
  color: black;
  background-color: #b1b1b1;
}

/* Style Centric Utils */
/* Style Centric Utils */
/* Style Centric Utils */
.relative {position: relative;}
.absolute {position: absolute;}

button,
input#clickAll,
input#search,
input.checkbox,
select {
  cursor: pointer;
  height: 45px;
  padding: 0.625em;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #b8bdc9;
}

input#search {
  cursor: text;
}

label {
  margin-top: 0.5rem;
  color: #57647e;
  font-size: 0.75rem;
}

.form__actions {
  width: 300px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}