{% extends 'master_blueprint/base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
  <script type="text/javascript" src="{{ url_for('static', filename='js/formSubmitter.js' )}}"></script>
  <title>Program Editor</title>
{% endblock %}

{% block body %}
  <main data-modal-edit class="crud">
    <form class="crud__block" id="form" method="POST" action="">
      {{ form.csrf_token }}
      <div class="crud-form-container">
        <header class="crud-form-header">
          <h1>Edit Program Details</h1>
        </header>

        <main class="crud-form">
          <div>
            <span>Name</span>
            <div style="
              display: flex;
              justify-content: space-between;
              gap: 1rem;
            ">
              <div class="crud-form-inputs">
                {{ form.programName }}
                {{ form.programName.label }}
              </div>
              <div class="crud-form-inputs">
                {{ form.programCode }}
                {{ form.programCode.label }}
              </div>
            </div>
          </div>
          <div>
            <span>Program Details</span>
            <div class="crud-form-inputs">
              {{ form.programCollege }}
              {{ form.programCollege.label }}
            </div>
            {% if '/programs/edit/' in request.path %}
              <input type="hidden" name="course_id-edit" id="course_id-edit" value="{{ program_id }}">
            {% endif %}
          </div>
        </main>
      </div>
    </form>
    <footer class="form__actions">
      <button class="delete" onclick="location.href='/programs';">Cancel</button>
      <button class="add disabled" name="confirmEdit" submit-confirmation onclick="confirmationModal(document.getElementById('programCode').value, 'singleEdit')" disabled>Submit
        <span class="tooltiptext" id="confirm-tooltip">There are no changes...</span>
      </button>
    </footer>
  </main>
{% endblock %}

{% block confirmationModal %}
  <dialog data-modal-delete class="modal">
    <main>
      <p>Are you sure want to proceed with the update?</p>
      <p style="text-align: center;">Program: <span bold chosen-id></span></p>

      <div class="modal__actions">
        <button class="delete" data-close-modal-delete>Cancel</button>
        <button class="add" value="" delete-confirmation onclick="setSubmitForm()">Confirm</button>
      </div>
    </main>
  </dialog>
{% endblock %}

{% block alertsOverlay %}
  <div class="alert-container absolute">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% if category == "danger" %}
              <strong>Danger!</strong>
            {% elif category == "warning" %}
              <strong>Warning!</strong>
            {% elif category == "info" %}
              <strong>Info!</strong>
            {% elif category == "success" %}
              <strong>Success!</strong>
            {% else %}
              <strong>%NULL%</strong>
            {% endif %}
            {{ message }}
          </div>
        {% endfor %}   
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}