<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modern-normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utils.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/design.js' )}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/activeFunctions.js' )}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/passiveFunctions.js' )}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/setFormFunctions.js' )}}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>

    <aside>
      <header class="aside__header"></header>
      <nav class="aside__nav">
        <a class="aside__nav-links" href="/">
          {% if request.path == '/' %}
            <img src="{{ url_for('static', filename='images/grid-view-stroke-rounded-light.svg') }}" alt="Dashboar icon">
          {% else %}
            <img src="{{ url_for('static', filename='images/grid-view-stroke-rounded.svg') }}" alt="Dashboar icon">
          {% endif %}
          Dashboard
        </a>
        <a class="aside__nav-links" href="/students">
          {% if request.path == '/students' %}
            <img src="{{ url_for('static', filename='images/students-stroke-rounded-light.svg' )}}" alt="Students icon">
          {% else %}
            <img src="{{ url_for('static', filename='images/students-stroke-rounded.svg' )}}" alt="Students icon">
          {% endif %}
          Students
        </a>
        <a class="aside__nav-links" href="/programs">
          {% if request.path == '/programs' %}
            <img src="{{ url_for('static', filename='images/course-stroke-rounded-light.svg') }}" alt="Courses icon">
          {% else %}
            <img src="{{ url_for('static', filename='images/course-stroke-rounded.svg') }}" alt="Courses icon">
          {% endif %}
          Programs
        </a>
        <a class="aside__nav-links" href="/colleges">
          {% if request.path == '/colleges' %}
            <img src="{{ url_for('static', filename='images/school-01-stroke-rounded-light.svg')}}" alt="College icon">
          {% else %}
            <img src="{{ url_for('static', filename='images/school-01-stroke-rounded.svg')}}" alt="College icon">
          {% endif %}
          Colleges
        </a>
      </nav>
      <footer class="aside__footer"></footer>
    </aside>

    {% block body %}{% endblock %}
    {% block confirmationModal %}{% endblock %}
    {% block alertsOverlay %}{% endblock %}

  </body>
</html>