<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modern-normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utils.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>

    <aside>
      <header class="aside__header"></header>
      <nav class="aside__nav">
        <a class="aside__nav-links" href="/"><img src="../static/images/grid-view-stroke-rounded.svg" alt="Dashboar icon">Dashboard</a>
        <a class="aside__nav-links" href="/students"><img src="../static/images/students-stroke-rounded.svg" alt="Students icon">Students</a>
        <a class="aside__nav-links" href="/programs"><img src="../static/images/course-stroke-rounded.svg" alt="Courses icon">Programs</a>
        <a class="aside__nav-links" href="/colleges"><img src="../static/images/school-01-stroke-rounded.svg" alt="College icon">Colleges</a>
      </nav>
      <footer class="aside__footer"></footer>
    </aside>

    {% block body %}{% endblock %}
  </body>
</html>