{% extends 'master_blueprint/base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
  <title>Progrmas/Courses</title>
{% endblock %}

{% block body %}
  <main>
    <header class="content__header">
      <form class="content__header-form" method="POST" action="/students/search">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>{{ form.search }} {{ form.submit }} {{ form.studentSelection }} </p>
        <div class="actions-div"><button class="add">Add</button></div>
      </form>
    </header>
    <div class="content__table">
      <div class="content__table-header-courses">
        <p><b>College Name</b></p>
        <p><b>College Code</b></p>
        <p><b>Actions</b></p>
      </div>
      <div>
        {% if results %}
          {% for college in results %}
            <div class="content__table-data-courses">
              <p>{{ college[0] }}</p>
              <p>{{ college[1] }}</p>
              <div class="actions-div">
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
              </div>
            </div>
          {% endfor %}
        {% elif query %}
          <p>No results found for "{{ query }}".</p>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}

{% block modal %}
  <dialog data-modal class="modal">
    <div>This is a modal</div>
    <button data-close-modal>Close</button>
  </dialog>
{% endblock %}