{% extends 'master_blueprint/base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Homepage - SSIS</title>
{% endblock %}

{% block body %}
  <div class="loader-wrapper">
    <img class="imageSpin" src="{{ url_for('static', filename='images/logo-dp.jpg') }}" alt="Preload Logo">
  </div>

  <main>
    <section class="stats">
      <h1 class="stat-title">Overview</h1>
      <p>Date: <span id="date"></span></p>
      <div class="stat-container">
        <div class="stat-card blue">
          <h2>Number Registered of Students</h2>
          <p class="stat-data" id="student-data">{{ students }}</p>
        </div>
        <div class="stat-card lightorange">
          <h2>Number of Registered Programs</h2>
          <p class="stat-data" id="program-data">{{ programs }}</p>
        </div>
        <div class="stat-card lightgreen">
          <h2>Number of Registered Colleges</h2>
          <p class="stat-data" id="college-data">{{ colleges}}</p>
        </div>
      </div>
    </section>
  
  </main>
{% endblock %}