{% extends 'master_blueprint/base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Homepage - SSIS</title>
{% endblock %}

{% block body %}
  <div class="loader-wrapper">
    <img class="imageSpin" src="{{ url_for('static', filename='images/logo-dp.jpg') }}" alt="Preload Logo">
  </div>

  <main>
    <section>
      <h1>Overview</h1>
      <main>
        <div></div>
        <div></div>
        <div></div>
      </main>
    </section>

    <section>
      <h1>Recent Additions  </h1>
    </section>
  </main>
{% endblock %}