{% extends 'base.html' %}

{% block head %}
  <title>Students</title>
{% endblock %}

{% block body %}
  <main>
    <header class="content__header">
      <form action="/students/search" method="post">
        <input type="text" name="query" value="{{ request.form.search }}" placeholder="Search for a student by name">
        <input type="submit" value="Search">
      </form>
    </header>
    <div class="content__table">
      <div class="content__table-header-students">
        <p>First Name</p>
        <p>Last Name</p>
        <p>ID</p>
        <p>Year</p>
        <p>Gender</p>
        <p>CourseID</p>
        <p>Actions</p>
      </div>
      <div>
        {% if results %}
          {% for student in results %}
            <div class="content__table-data-students">
              <p>{{student[0]}}</p>
              <p>{{student[1]}}</p>
              <p>{{student[2]}}</p>
              <p>{{student[3]}}</p>
              <p>{{student[4]}}</p>
              <p>{{student[5]}}</p>
              <div class="actions-div">
                <button>Edit</button>
                <button>Delete</button>
              </div>
            </div>
          {% endfor %}
        {% elif query %}
          <p>No results found for "{{ query }}".</p>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}