{% extends 'base.html' %}

{% block head %}
  <title>Progrmas/Courses</title>
{% endblock %}

{% block body %}
  <main>
    <header class="content__header">

    </header>
    <div class="content__table">
      <div class="content__table-header-courses">
        <p>Course Name</p>
        <p>Courses Code</p>
        <p>College Code</p>
        <p>Actions</p>
      </div>
      <div>
        {% for program in data %}
          <div class="content__table-data-courses">
            <p>{{program[0]}}</p>
            <p>{{program[1]}}</p>
            <p>{{program[2]}}</p>
            <div class="actions-div">
              <button>Edit</button>
              <button>Delete</button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}