{% extends 'master_blueprint/base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Progrmas/Courses</title>
{% endblock %}

{% block body %}
  <form class="absolute" id="singleEditForm" method="POST" action="">{{ programForm.csrf_token }}</form>
  <form class="absolute" id="createForm" method="POST" action="{{ url_for('programs.create') }}">{{ programForm.csrf_token }}</form>
  <form class="absolute" id="deleteSelectedForm" method="POST" action="/programs/delete_checked/">{{ searchForm.csrf_token }}</form>
  <form class="absolute" id="singleDeleteForm" method="POST" action="/programs/delete">{{ searchForm.csrf_token }}
    <input type="hidden" name="delete-chosen_id" id="delete-chosen_id" value="">
  </form>
  <form id="searchForm" class="content__header-form" method="POST" action="">{{ searchForm.csrf_token }}</form>
  <main>
    <header class="content__header">
      <div class="content__header-form">
        <div>
          <button class="delete" hidden="hidden" id="deleteAll" onclick="confirmationModal('MULTIPLE', 'MULTIPLE')">Delete All</button>
          <button class="add action" type="submit" form="createForm">Add</button>
        </div>
        <p>{{ searchForm.search }}<button class="search" onclick="setSearchForm('programs')">Search</button> {{ searchForm.searchOption }}</p>
      </div>
    </header>
    <div class="content__table">
      <div class="content__table-header-courses">
        <p><input type="checkbox" id="clickAll" onclick="toggleAll(this)"></p>
        <p><b>Course Name</b></p>
        <p><b>Courses Code</b></p>
        <p><b>College Code</b></p>
        <p><b>Actions</b></p>
      </div>
      <div style="height: 100%; scrollbar-gutter: stable;">
        {% if results %}
          {% for program in results %}
            <div class="content__table-data-courses">
              <p><input type="checkbox" class="checkbox" name="items" value="{{ program[1] }}" onclick="toggleButton()" form="deleteSelectedForm"></p>
              <p>{{ program[0] }}</p>
              <p>{{ program[1] }}</p>

              {% if program[2] == None %}
                <p><span class="highlight" style="background-color: rgb(255, 38, 38); color: aliceblue;">N/A</span></p>
              {% else %}
                <p>{{ program[2] }}</p>
              {% endif %}

              <div class="actions-div">
                <button class="edit action" onclick="setEditForm('{{ program[1] }}', 'programs')"><img class="icon" src="{{ url_for('static', filename='images/pencil-edit-01-stroke-rounded.svg')}}" alt="Edit"></button>
                <button class="delete action" name="delete" onclick="confirmationModal('{{ program[1] }}', 'singleDelete')"><img class="icon" src="{{ url_for('static', filename='images/delete-02-stroke-rounded.svg')}}" alt="Delete"></button>
              </div>
            </div>
          {% endfor %}
        {% elif query %}
          <div class="not-found">
            <p style="display: block;">No results found for "{{ query }}".
            </p>
          </div>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}

{% block confirmationModal %}
  <dialog data-modal-delete class="modal">
    <main>
      <p>Are you sure want to delete?</p>
      <p style="text-align: center;">Program: <span bold chosen-id></span></p>
      <div class="modal__actions">
        <button class="delete" data-close-modal-delete>Cancel</button>
        <button class="add" delete-confirmation value="" onclick="submitSingleDeleteForm()">Submit</button>
      </div>
    </main>
  </dialog>
{% endblock %}

{% block alertsOverlay %}
  <div class="alert-container absolute">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% if category == "danger" %}
              <strong>Danger!</strong>
            {% elif category == "warning" %}
              <strong>Warning!</strong>
            {% elif category == "info" %}
              <strong>Info!</strong>
            {% elif category == "success" %}
              <strong>Success!</strong>
            {% else %}
              <strong>%NULL%</strong>
            {% endif %}
            {{ message }}
          </div>
        {% endfor %}   
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}