{% extends 'master_blueprint/base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Students</title>
{% endblock %}

{% block body %}
  <main class="relative">
    <form class="absolute" id="singleEditForm" method="POST" action="">{{ studentForm.csrf_token }}</form>
    <form class="absolute" id="createForm" method="POST" action="{{ url_for('student.create') }}">{{ studentForm.csrf_token }}</form>
    <form class="absolute" id="deleteSelectedForm" method="POST" action="/students/delete_checked">{{ searchForm.csrf_token }}</form>
    <form class="absolute" id="singleDeleteForm" method="POST" action="/students/delete">{{ searchForm.csrf_token }}
      <input type="hidden" name="student_id-delete" id="student_id-delete" value="">
    </form>
    <header class="content__header">
      <form id="searchForm" class="content__header-form" method="POST" action="">
        {{ searchForm.csrf_token }}
        <div>
          <button class="delete" hidden="hidden" id="deleteAll" onclick="deleteAll()" type="submit" form="deleteSelectedForm">Delete All</button>
          <button class="add" type="submit" form="createForm">Add</button>
        </div>
        <p>{{ searchForm.search }} <button class="search" onclick="setSearchForm()">Search</button> {{ searchForm.studentSelection }} {{ searchForm.searchCollege }} </p>
      </form>
    </header>
    <div class="content__table">
      <div class="content__table-header-students">
        <p><input type="checkbox" id="clickAll" onclick="toggleAll(this)"></p>
        <p><b>First Name</b></p>
        <p><b>Last Name</b></p>
        <p><b>ID</b></p>
        <p><b>Year</b></p>
        <p><b>Gender</b></p>
        <p><b>CourseID</b></p>
        <p><b>Actions</b></p>
      </div>
      <div class="content__table-data-wrapper">
        {% if results %}
          {% for student in results %}
            <div class="content__table-data-students">
              <p><input type="checkbox" class="checkbox" name="items" value="{{ student[2] }}" onclick="toggleButton()" form="deleteSelectedForm"></p>
              <p>{{ student[0] }}</p>
              <p>{{ student[1] }}</p>
              <p>{{ student[2] }}</p>
              <p>{{ student[3] }}</p>

              {% if student[4] == 'M' %}
                <p><span class="gender" style="background-color: rgb(157, 157, 255);">Male</span></p>
              {% elif student[4] == 'F' %}
                <p><span class="gender" style="background-color: pink;">Female</span></p>
              {% elif student[4] == 'NB' %}
                <p><span class="gender" style="background-color: rgb(38, 255, 129);">Non-Binary</span></p>
              {% else %}
                <p>NULL</p>
              {% endif %}

              <p>{{ student[5] }}</p>
              <div class="actions-div">
                <button class="edit action" id="student_id-edit" onclick="setEditForm('{{ student[2] }}')"><img class="icon" src="{{ url_for('static', filename='images/pencil-edit-01-stroke-rounded.svg')}}" alt="Edit"></button>
                <button class="delete action" name="delete" onclick="confirmationModal('{{ student[2] }}', 'singleDelete')"><img class="icon" src="{{ url_for('static', filename='images/delete-02-stroke-rounded.svg')}}" alt="Delete"></button>
              </div>
            </div>
          {% endfor %}
        {% elif query %}
          <p>No results found for "{{ query }}".</p>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}

{% block confirmationModal %}
  <dialog data-modal-delete class="modal">
    <main>
      <p>Are you sure want to delete?</p>
      <p style="text-align: center;">student: <span bold student-number></span></p>
      <div class="modal__actions">
        <button class="delete" data-close-modal-delete>Cancel</button>
        <button class="add" delete-confirmation value="" onclick="submitSingleDeleteForm()">Submit</button>
      </div>
    </main>
  </dialog>
{% endblock %}

{% block alertsOverlay %}
  <div class="alert-container absolute">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% if category == "danger" %}
              <strong>Danger!</strong>
            {% elif category == "warning" %}
              <strong>Warning!</strong>
            {% elif category == "info" %}
              <strong>Info!</strong>
            {% elif category == "success" %}
              <strong>Success!</strong>
            {% else %}
              <strong>%NULL%</strong>
            {% endif %}
            {{ message }}
          </div>
        {% endfor %}   
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}
